# requirements for ActivatedInsights_Streamlit.py script

# script built in Python 3.7 to be compatibile with Streamlit existing Python version in October 2020

streamlit==0.67.1
pandas==1.0.1
xlrd==1.2.0
openpyxl==3.0.3

